<div class="navbar" *ngIf="!isUserLoggedIn && !isAdminLoggedIn">
    <div>
        <a class="brand" routerLink="/login">SwapIt</a>
    </div>
    <div class="nav-links">
        <a routerLink="/register" routerLinkActive="active">Sign up</a>
        <a routerLink="/login" routerLinkActive="active">Login</a>
    </div>
</div>



<div class="navbar" *ngIf="isUserLoggedIn">
    <div>
        <a class="brand" routerLink="/user/dashboard">SwapIt</a>
    </div>
    <div class="nav-links">
        <a routerLink="/user/dashboard" routerLinkActive="active">Dashboard</a>
        <a (click)="logout()" routerLinkActive="active">Logout</a>
    </div>
</div>

<div class="navbar" *ngIf="isAdminLoggedIn">
    <div>
        <a class="brand" routerLink="/admin/dashboard">SwapIt</a>
    </div>
    <div class="nav-links">
        <a routerLink="/admin/dashboard" routerLinkActive="active">Dashboard</a>
        <a routerLink="/admin/category" routerLinkActive="active">Category</a>
        <a (click)="logout()" routerLinkActive="active">Logout</a>
    </div>
</div>
