<div class="mailSend">
    If you want to show your products on our marketplace, <a href="mailto:swapitjpura@gmail.com">Contact Us!</a>.
    <br />
    <br />
    Check your points by <a href="https://docs.google.com/spreadsheets/d/1CseXxgtdUABuQeyNMtfN3viaF1bd2cSRTscHggEeV6E/edit?usp=sharing" target="_blank">clicking here</a>
</div>

<div class="product-container">
    <div class="product-item" *ngFor="let product of products">
        <div class="product-details">
            <img class="profile" [src]="product.processedImage" alt="profile" />
            <h2 class="product-name">{{product.name}}</h2>
            <p class="product-description">{{product.description}}</p>

            <hr class="divider" />

            <h5 class="points-category">
                <b>{{product.price}}</b> Points <br />
                <hr class="divider" />
                Category: <b>{{product.categoryName}}</b>
            </h5>

            <h5 class="product-description">
                Current Availability : {{product.status?"Available":"Not Available"}}
            </h5>

            <h5><a href="mailto:swapitjpura@gmail.com">Contact Us!</a></h5>

            <hr class="divider" />
            
        </div>
    </div>
</div>

